.Product {
    margin: 10px;
    padding: 10px;
    border: 1px solid, #ccc;
    box-shadow:  0 4px 8px 0 #ccc, 0 6px 20px 0 #ccc;
    text-align: center;
    float: left;
    height: 380px;
}

.Product_img {
    display: inline;
}

.images {
    width: 20%;
    height: auto;
    float: center;
}

.Product_detail {
    float: right;
}

.sort-section {
    width: 90%;
    padding: auto;
    margin-left: 20px;
}

.sort-button {
    background-color: #00308F;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    width: 90%;
    box-shadow:  0 4px 8px 0 #ccc, 0 6px 20px 0 #ccc;

}

#left {
    width: 80%;
    height: 100%;
}

.filter-section {
    width: 90%;
    padding: auto;
    margin-left: 20px;
}

.filter-button {
    background-color: #00308F;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    width: 90%;
    box-shadow:  0 4px 8px 0 #ccc, 0 6px 20px 0 #ccc;

}

button {
    background-color: #00308F;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;

}