.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
  margin: 20px;
}

.App-header {
  background-color: lightblue;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.column {
  height: 100%;  /*allows both columns to span the full height of the browser window*/
  display: flex;
  flex-direction: column;  /*places the left and right headers above the bottom content*/
}

#left {
  flex-shrink: 0;  /*makes sure that content is not cut off in a smaller browser window*/
}

.top-left {
  flex-shrink: 0  ;
  display: inline-flex;
  background-color: lightblue;
  flex: 1;
}

.top-right {
  flex-shrink: 0  ;
  display: inline-flex;
  background-color: lightblue;
  align-items: center;
  flex: 1;
}

.top-middle {
  flex-shrink: 0;
  display: inline-flex;
  background-color: lightblue;
}

.bottom {
  flex-grow: 1;  /*ensures that the container will take up the full height of the parent container*/
  overflow-y: auto;  /*adds scroll to this container*/
}

.set-height {
  height: 120px;

}

.set-width {
  width: 100px;
  
}

.wrapper {
  height: 100%;     /*makes the body non-scrollable (we will add scrolling to the sidebar and main content containers)*/
  margin: 0px;  /*removes default style*/
  display: flex;  /*enables flex content for its children*/
  box-sizing: border-box;
}

.leftcolumn {
  width: 50%;
  padding: auto;
  margin: 10px;
}

button {
  background-color: #00308F;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

#dropmenu {
  border-radius: 25px;
  background-color: #00308F;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 20px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}